#outerBox {
  max-height: 388;
  width: 400;
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #406882;
  margin: 5px 5px;
}

#innerBox {
  height: 310;
  width: 390;
  margin: "auto";
  background-color: #b1d0e0;
}
